body{
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(IMG/fondo.jpg);
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
}
    .topBar{
        margin: 0px;
        padding: 7px;
        background-color: #B22222; 
        width: 100vw;
        height: 8vh;
        box-shadow: 1px 1px 22px 12px rgba(0, 0, 0, 0.3);
        border-radius: 0px 0px 20px 20px;
        overflow: auto;
    }
        .topBarPGLogo{
            margin: 0vmin;
            float:left;
            height: 8vh;
        }
        .topBarTitle{
            position:relative;
            margin-left: 32%;
            margin-top: 1vh;
            font-size: 48px;
            color: azure;
            line-height: 1.5em;  
            text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.5);
            font-family: 'Orbitron', sans-serif;
        }
        .topBarInput{
            float:right;
            margin-top: -11vh;
            margin-left: 65%;
            background: #f8cece;
            box-shadow: 0px 0px 18px 11px rgba(170, 147, 147, 0.25);
            border-radius: 16px;
            padding-left: 8px; 
            font-size: 25px;
            line-height: 30px;
            font-family: 'Orbitron', sans-serif;
        }
        .topBarSearchButton{
            display:flex;
            margin-top: -7vh;
            margin-left: 80%;
            background: #fff0f0;
            box-shadow: 0px 0px 18px 11px rgba(170, 147, 147, 0.25);
            border-radius: 16px;
            font-size: 25px;
            font-family: 'Orbitron', sans-serif;

        }
        .menu{
            list-style: none;
            margin:3px;
            padding:0px;
            width:60%;
            font-size: 25px;
            line-height: 35px;
            background-color: #8B0000;          
            border-radius: 16px;  
            text-align: center;
        }
            .menuSub{
                width: 30%;
                display:inline-block;
                text-align: center;
            }
            .menuSub1{
                width: 200px;
                list-style: none;
                display:none;
                position:absolute;
                background-color: #8B0000;
                text-align: justify;
                border-radius: 0px 0px 16px 16px;
            }
            .menuSub:hover>ul{
                display: block;
            }

                a{
                    text-decoration: none;
                    color:azure;
                }
                a:hover{
                    background-color: #B22222;

                }
section article {
    width: 33%;
    float: left;
}     


